<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Music</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Ticket Music</h1>
    <p>Bem Vindo ao Ticket Music</p>
  </body>
</html>
